# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [2]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform
import numpy as np

In [3]:
data = pd.read_csv('customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [5]:
data1 = data.groupby(['CustomerID','ProductName']).sum()

In [6]:
data1

                                          SalesID  ProductID  Quantity
CustomerID ProductName
33         Apricots - Dried                172592        324         1
           Assorted Desserts              5363705        219         1
           Bandage - Flexible Neon        6299165        273         1
           Bar Mix - Pina Colada, 355 Ml  3147536        281         1
           Beans - Kidney, Canned         6507033        300         1
...                                           ...        ...       ...
98200      Vol Au Vents                   5160346        272        50
           Wasabi Powder                  4438427         80        25
           Wine - Fume Blanc Fetzer       6226060         76        25
           Wine - Hardys Bankside Shiraz   266676        360        25
           Yogurt - French Vanilla        2112061        320        25

[63628 rows x 3 columns]

# Step 2: Use the pivot_table method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the fillna method.

In [7]:
data2 = data_pivot = pd.pivot_table(data1, 
                       index="ProductName",
                       values="Quantity", 
                       columns="CustomerID",
                      fill_value=0)

In [8]:
data2

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
Yoghurt Tubes,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,25,0,0
"Yogurt - Blueberry, 175 Gr",0,1,0,0,0,0,0,0,0,0,...,25,0,0,25,0,0,0,0,0,0
Yogurt - French Vanilla,1,0,0,1,0,0,2,0,0,1,...,0,0,25,0,0,0,0,0,0,25
Zucchini - Yellow,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [9]:
from scipy.spatial.distance import pdist, squareform

distances = pdist(data2.T, 'euclidean')
print(distances)
print("-----Squareform-----")
print(squareform(distances))

[ 11.91637529  10.48808848  11.22497216 ... 304.13812651 305.16389039
 303.10889132]
-----Squareform-----
[[  0.          11.91637529  10.48808848 ... 228.62851966 239.
  229.77380181]
 [ 11.91637529   0.          11.74734012 ... 228.01096465 239.03765394
  229.70415756]
 [ 10.48808848  11.74734012   0.         ... 228.08112592 238.26665734
  229.77380181]
 ...
 [228.62851966 228.01096465 228.08112592 ...   0.         304.13812651
  305.16389039]
 [239.         239.03765394 238.26665734 ... 304.13812651   0.
  303.10889132]
 [229.77380181 229.70415756 229.77380181 ... 305.16389039 303.10889132
    0.        ]]

In [10]:
distances = pd.DataFrame(1/(1 + squareform(pdist(data2.T, 'euclidean'))), 
                         index=data2.columns, columns=data2.columns)

distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [11]:
similarities = distances[33].sort_values(ascending=False)[1:6]
similarities
top5 = pd.DataFrame(similarities)
top5= top5.index.tolist()

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [12]:
data3 = data1.loc[top5]
data3

                                          SalesID  ProductID  Quantity
CustomerID ProductName
264        Apricots - Halves              3730301        278         1
           Apricots Fresh                 5035449        158         1
           Bacardi Breezer - Tropical      756802         49         1
           Bagel - Plain                  6728381        262         1
           Banana - Leaves                6298459        271         1
...                                           ...        ...       ...
3305       Wine - Ej Gallo Sierra Valley   464102        884         2
           Wine - Pinot Noir Latour       1308025         87         1
           Wine - Redchard Merritt         535578        425         1
           Wine - White Cab Sauv.on        238590        380         1
           Yogurt - French Vanilla        6757819        320         1

[270 rows x 3 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [13]:
data4 = data3.groupby(['ProductName']).sum(['Quantity']).sort_values(ascending=False, by=['Quantity'])
data4

                                SalesID  ProductID  Quantity
ProductName
Butter - Unsalted              13554503       1206         3
Wine - Ej Gallo Sierra Valley   5892505       1326         3
Towels - Paper / Kraft          5618699        957         3
Soup - Campbells Bean Medley    9218997       1146         3
Wine - Blue Nun Qualitatswein   9241577        807         3
...                                 ...        ...       ...
Hinge W Undercut                6577594        297         1
Ice Cream Bar - Hageen Daz To   5840790        246         1
Jagermeister                    5687769        374         1
Jolt Cola - Electric Blue       6641905         82         1
Yogurt - French Vanilla         6757819        320         1

[218 rows x 3 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [14]:
data33 = pd.DataFrame(data2[33])
merged_set = pd.merge(data4, data33, on='ProductName')
merged_sorted = merged_set.sort_values([33,'Quantity'], ascending=[True,False])
top5merged = merged_sorted.head(5)
top5merged

                                SalesID  ProductID  Quantity  33
ProductName
Butter - Unsalted              13554503       1206         3   0
Wine - Ej Gallo Sierra Valley   5892505       1326         3   0
Soup - Campbells Bean Medley    9218997       1146         3   0
Wine - Blue Nun Qualitatswein   9241577        807         3   0
Chicken - Soup Base             5301230        258         2   0

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [15]:
unique_customerids = data['CustomerID'].unique().tolist()
unique_customerids

[61288,
 77352,
 40094,
 23548,
 78981,
 83106,
 11253,
 35107,
 15088,
 26031,
 86595,
 46715,
 91013,
 69931,
 19753,
 9546,
 10224,
 72846,
 28976,
 3267,
 19260,
 76530,
 30196,
 48818,
 15166,
 11443,
 79060,
 82597,
 62411,
 42611,
 45420,
 83495,
 47122,
 30815,
 53198,
 18591,
 62034,
 1428,
 2187,
 55162,
 22345,
 81876,
 48641,
 81034,
 29681,
 87947,
 28867,
 69967,
 94420,
 83158,
 84364,
 44742,
 7772,
 47303,
 75791,
 77756,
 97324,
 13912,
 52700,
 21734,
 6817,
 21095,
 28875,
 89588,
 1034,
 54827,
 29287,
 11102,
 52155,
 50748,
 88552,
 80938,
 60481,
 92168,
 66232,
 64348,
 37510,
 44408,
 89254,
 477,
 51483,
 97201,
 42157,
 52091,
 86065,
 18027,
 93882,
 42303,
 32010,
 53997,
 63033,
 76475,
 98185,
 84779,
 82146,
 54495,
 3903,
 79854,
 25449,
 85496,
 95017,
 33759,
 43652,
 35873,
 97769,
 891,
 85161,
 25327,
 25624,
 68416,
 44090,
 71595,
 68336,
 38497,
 10016,
 36751,
 58421,
 45498,
 50774,
 79997,
 45313,
 55715,
 40901,
 1577,
 3909,
 18480,
 41405,
 85552,
 412,
 59399,
 87849,
 26458,
 13354,
 92673,
 45759,
 55930,
 62184,
 70512,
 51451,
 46046,
 1754,
 2915,
 81591,
 78104,
 81179,
 9047,
 85292,
 95819,
 74237,
 264,
 49159,
 81845,
 4644,
 41538,
 40863,
 60759,
 17760,
 2776,
 42802,
 26353,
 25420,
 98200,
 69027,
 87030,
 27669,
 82432,
 20331,
 75022,
 14012,
 10418,
 24271,
 86662,
 22461,
 78054,
 81715,
 65757,
 4261,
 15420,
 79189,
 1839,
 27841,
 51631,
 64301,
 88245,
 1008,
 18760,
 64202,
 52154,
 70354,
 68680,
 59017,
 80167,
 14910,
 5921,
 45786,
 60612,
 56374,
 883,
 1066,
 6447,
 38125,
 77682,
 70324,
 17263,
 5177,
 95078,
 27045,
 76511,
 92255,
 47913,
 67428,
 92418,
 72433,
 31373,
 25995,
 6001,
 2754,
 75762,
 54547,
 3535,
 77950,
 58413,
 48611,
 90284,
 50416,
 58064,
 70624,
 97063,
 33132,
 48858,
 25421,
 78297,
 4723,
 55124,
 70986,
 33749,
 46146,
 64597,
 82440,
 59925,
 89272,
 46971,
 51834,
 22408,
 464,
 81324,
 9302,
 41319,
 25703,
 47845,
 96684,
 50461,
 42087,
 57168,
 63891,
 66709,
 56786,
 51224,
 73190,
 21973,
 8711,
 65678,
 12529,
 46551,
 82922,
 36566,
 41747,
 70017,
 73031,
 77696,
 23515,
 7223,
 15920,
 28191,
 2329,
 37873,
 57241,
 45846,
 65910,
 60378,
 22204,
 31549,
 649,
 91783,
 20006,
 81281,
 83608,
 10739,
 24137,
 68627,
 1336,
 34657,
 15986,
 51934,
 86028,
 70517,
 10311,
 56887,
 28984,
 9260,
 94910,
 29656,
 18680,
 87285,
 65731,
 79458,
 97928,
 45965,
 40934,
 5832,
 2556,
 60969,
 29998,
 87967,
 38890,
 62101,
 36200,
 96088,
 67473,
 9771,
 90193,
 72829,
 74213,
 82161,
 29910,
 55380,
 86111,
 46250,
 65650,
 756,
 80849,
 30575,
 32180,
 13681,
 57606,
 19526,
 77037,
 27160,
 6352,
 57090,
 27546,
 57024,
 73614,
 92543,
 93445,
 61923,
 90054,
 95372,
 84575,
 71085,
 43529,
 21177,
 59710,
 694,
 57654,
 32785,
 78718,
 6185,
 1594,
 28756,
 54857,
 55245,
 42612,
 62094,
 5968,
 90069,
 8917,
 32386,
 90776,
 44667,
 67682,
 81981,
 11325,
 72305,
 92951,
 91652,
 29444,
 16664,
 80782,
 21027,
 67058,
 44030,
 17404,
 22308,
 82493,
 41829,
 19442,
 71298,
 38186,
 36179,
 55381,
 200,
 66987,
 84577,
 36829,
 5230,
 26375,
 85642,
 41843,
 63368,
 13699,
 80184,
 61417,
 70363,
 52479,
 58535,
 66632,
 46807,
 36201,
 91220,
 13118,
 33,
 42399,
 58366,
 19312,
 1920,
 58874,
 5224,
 6543,
 5104,
 67582,
 14501,
 90777,
 30803,
 80898,
 64575,
 27760,
 78903,
 68829,
 64775,
 82620,
 1435,
 55281,
 35531,
 76389,
 71844,
 72546,
 97282,
 94951,
 87920,
 79470,
 63295,
 41834,
 4595,
 62277,
 3885,
 85246,
 82057,
 52139,
 53226,
 56319,
 43270,
 29258,
 90347,
 40099,
 45549,
 38307,
 26974,
 67636,
 93918,
 61750,
 45042,
 65785,
 11441,
 57977,
 28368,
 31409,
 60515,
 92637,
 18293,
 11023,
 68699,
 23377,
 16971,
 11883,
 20134,
 43589,
 62279,
 68298,
 44859,
 60862,
 23451,
 43345,
 80372,
 55780,
 64862,
 80890,
 12598,
 38405,
 49491,
 81012,
 51121,
 5678,
 17097,
 75793,
 39280,
 39552,
 57497,
 49474,
 22705,
 87559,
 50535,
 63742,
 91713,
 25209,
 67061,
 38358,
 16614,
 62242,
 27821,
 87408,
 60781,
 74784,
 53176,
 17407,
 35575,
 88533,
 39537,
 61601,
 20901,
 77628,
 78966,
 55876,
 59831,
 98069,
 18720,
 29095,
 58639,
 18728,
 79290,
 76281,
 72428,
 31820,
 94599,
 7623,
 22939,
 14977,
 40985,
 46910,
 47605,
 97093,
 31100,
 73353,
 42776,
 72063,
 27672,
 38265,
 80380,
 6317,
 58353,
 73609,
 55875,
 15027,
 32324,
 12888,
 96524,
 46036,
 92525,
 18706,
 91777,
 27410,
 55932,
 669,
 58652,
 59108,
 89110,
 84280,
 85480,
 63086,
 23165,
 85032,
 14782,
 12059,
 66177,
 55580,
 25651,
 84349,
 32575,
 93417,
 54001,
 50435,
 77574,
 19074,
 32558,
 42426,
 20433,
 50670,
 13823,
 37619,
 85524,
 63803,
 8316,
 45754,
 15415,
 3305,
 65830,
 6367,
 7543,
 20907,
 79068,
 90508,
 31075,
 8367,
 72750,
 37495,
 11933,
 38703,
 28751,
 9132,
 2686,
 1534,
 84703,
 77814,
 39813,
 76983,
 47305,
 32584,
 89573,
 22901,
 85902,
 27209,
 18688,
 25013,
 87303,
 51718,
 20648,
 58321,
 20125,
 97495,
 50004,
 20446,
 88318,
 78896,
 78489,
 48963,
 25040,
 58165,
 42394,
 45582,
 83940,
 60185,
 32373,
 17906,
 48642,
 61223,
 77685,
 72152,
 90300,
 86560,
 27849,
 64787,
 94258,
 67203,
 2503,
 16139,
 17136,
 64615,
 76442,
 44058,
 38339,
 72311,
 64117,
 76532,
 85437,
 91224,
 66807,
 22454,
 12206,
 11083,
 18281,
 90933,
 74077,
 72487,
 53501,
 34184,
 54906,
 48139,
 81361,
 69906,
 60917,
 97753,
 63771,
 25125,
 23176,
 96272,
 91194,
 84671,
 18552,
 91058,
 89725,
 95121,
 18040,
 97052,
 88769,
 7134,
 66320,
 5997,
 98159,
 76378,
 78082,
 35034,
 57459,
 30451,
 47985,
 95059,
 12381,
 30324,
 81696,
 53214,
 48156,
 48655,
 51160,
 58203,
 51182,
 3531,
 44349,
 59379,
 16481,
 32028,
 42306,
 35877,
 5739,
 82532,
 79141,
 47497,
 83973,
 31113,
 97697,
 81479,
 65875,
 48108,
 15373,
 18441,
 65925,
 17765,
 59207,
 33840,
 96666,
 23001,
 39110,
 9597,
 22508,
 15888,
 15796,
 56567,
 91443,
 54894,
 36740,
 20476,
 72330,
 22322,
 40223,
 15119,
 2939,
 10094,
 42819,
 77810,
 31323,
 92492,
 81001,
 84972,
 6851,
 24323,
 25779,
 92594,
 56382,
 54774,
 73030,
 86527,
 4479,
 39757,
 36737,
 87228,
 65535,
 79230,
 5434,
 7987,
 32682,
 80538,
 86786,
 31468,
 28030,
 57317,
 89181,
 93540,
 95314,
 28702,
 81501,
 3544,
 41147,
 15165,
 56479,
 40896,
 27826,
 33325,
 63120,
 9804,
 32946,
 86625,
 7999,
 88733,
 50098,
 71282,
 22982,
 53729,
 3317,
 59711,
 2566,
 78133,
 23220,
 41722,
 50497,
 38048,
 21795,
 78488,
 36042,
 74451,
 29580,
 25994,
 55275,
 32753,
 47062,
 66822,
 24435,
 8539,
 59703,
 42459,
 46659,
 92067,
 58348,
 86167,
 16997,
 356,
 2617,
 41045,
 96615,
 19148,
 5183,
 30954,
 78541,
 59150,
 8372,
 24554,
 96560,
 88855,
 67281,
 15851,
 9533,
 81293,
 46315,
 11614,
 29342,
 78993,
 15148,
 50761,
 33381,
 62592,
 81331,
 36138,
 51939,
 51742,
 91176,
 46324,
 96024,
 16375,
 7827,
 27381,
 11744,
 18683,
 11057,
 24490,
 22751,
 52634,
 80432,
 26601,
 56469,
 27857,
 11628,
 97793,
 38798,
 25292,
 90694,
 66445,
 27572,
 11380,
 66419,
 22536,
 19147,
 78048,
 29867,
 639,
 18796,
 57737,
 81226,
 51023,
 49454,
 33878,
 14913,
 65326,
 63963,
 94438,
 89425,
 30423,
 97900,
 46367,
 26850,
 7021,
 73280,
 68076,
 83355,
 14208,
 87938,
 1072,
 72056,
 60938,
 85766,
 49795,
 3074,
 80694,
 69397,
 2582,
 24820,
 46482,
 12232,
 90174,
 62421,
 8962,
 60389,
 35028,
 18622,
 17472,
 59258,
 29475,
 16809,
 29721,
 53851,
 81813,
 22175,
 12561,
 54093,
 15672,
 78252,
 59626,
 92995,
 45598,
 62005,
 94547,
 89424,
 34291,
 13062,
 16650,
 96522,
 76690,
 7606,
 18364,
 71948,
 84594,
 93692,
 58246,
 89408,
 18133,
 48534,
 78312,
 77651,
 45266,
 13338,
 92139,
 52024,
 51279,
 12596,
 95034,
 5986,
 88159,
 17458,
 93505,
 46826,
 15371,
 49981,
 79353,
 57991,
 6734,
 2902,
 86136,
 33051,
 3253,
 33320,
 62719,
 12852,
 76796,
 10114,
 25270,
 17390,
 97029,
 38154,
 74403,
 49005,
 41286,
 85878,
 68506,
 3472]

In [20]:
recommendations = {}
unique_customerids = list(data['CustomerID'])
for i in unique_customerids[1:6]:
    similarities = distances[i].sort_values(ascending=False)[1:6]
    top_5 = pd.DataFrame(similarities)
    top_5= top_5.index.tolist()
    df = data1.loc[top_5]
    df1 = df.groupby(['ProductName']).sum(['Quantity']).sort_values(ascending=False, by=['Quantity'])
    df2 = pd.DataFrame(data2[i])
    merged_newset = pd.merge(df1, df2, on='ProductName')
    merged_newsorted = merged_newset.sort_values([i,'Quantity'], ascending=[True,False])
    top5merged = merged_newsorted.head(5)
    recommendations.update(top5merged)

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [52]:
final = pd.DataFrame(recommendations).T
final

,Bagel - Plain,Baking Powder,Beef - Inside Round,Bouq All Italian - Primerba,Bread - French Baquette,"Bread - Roll, Soft White Round",Bread - Rye,Cake - Mini Cheesecake,Cheese - Cottage Cheese,Cinnamon Buns Sticky,...,Olives - Stuffed,Onions - Vidalia,Pastry - Choclate Baked,Pork - Kidney,Quiche Assorted,Scallops - Live In Shell,"Soup - Canadian Pea, Dry Mix",Truffle Cups - Brown,Veal - Sweetbread,Wine - Blue Nun Qualitatswein
SalesID,NaN,NaN,NaN,9328537.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,11275187.0,8399094.0,NaN,NaN,14045956.0,7449926.0,NaN,NaN,NaN
ProductID,NaN,NaN,NaN,996.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,966.0,890.0,NaN,NaN,1278.0,762.0,NaN,NaN,NaN
Quantity,NaN,NaN,NaN,67.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,62.0,48.0,NaN,NaN,50.0,46.0,NaN,NaN,NaN
77352,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
40094,NaN,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
23548,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
78981,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
83106,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [36]:
distances = pd.DataFrame(1/(1 + squareform(pdist(data2.T, 'cosine'))), 
                         index=data2.columns, columns=data2.columns)

In [37]:
similarities = distances[33].sort_values(ascending=False)[1:6]
similarities
top5 = pd.DataFrame(similarities)
top5= top5.index.tolist()

In [38]:
data3 = data1.loc[top5]

In [39]:
data4 = data3.groupby(['ProductName']).sum(['Quantity']).sort_values(ascending=False, by=['Quantity'])

In [40]:
data33 = pd.DataFrame(data2[33])
merged_set = pd.merge(data4, data33, on='ProductName')
merged_sorted = merged_set.sort_values([33,'Quantity'], ascending=[True,False])
top5merged = merged_sorted.head(5)
top5merged

                                SalesID  ProductID  Quantity  33
ProductName
Knife Plastic - White          11486267        835        64   0
Soup - Campbells, Beef Barley   9214355        750        52   0
Onions - Cippolini             14851940          9        48   0
Tea - Herbal Sweet Dreams      12558319        564        45   0
Muffin - Zero Transfat          5222718        218        40   0

In [41]:
unique_customerids2 = data['CustomerID'].unique().tolist()
unique_customerids2

[61288,
 77352,
 40094,
 23548,
 78981,
 83106,
 11253,
 35107,
 15088,
 26031,
 86595,
 46715,
 91013,
 69931,
 19753,
 9546,
 10224,
 72846,
 28976,
 3267,
 19260,
 76530,
 30196,
 48818,
 15166,
 11443,
 79060,
 82597,
 62411,
 42611,
 45420,
 83495,
 47122,
 30815,
 53198,
 18591,
 62034,
 1428,
 2187,
 55162,
 22345,
 81876,
 48641,
 81034,
 29681,
 87947,
 28867,
 69967,
 94420,
 83158,
 84364,
 44742,
 7772,
 47303,
 75791,
 77756,
 97324,
 13912,
 52700,
 21734,
 6817,
 21095,
 28875,
 89588,
 1034,
 54827,
 29287,
 11102,
 52155,
 50748,
 88552,
 80938,
 60481,
 92168,
 66232,
 64348,
 37510,
 44408,
 89254,
 477,
 51483,
 97201,
 42157,
 52091,
 86065,
 18027,
 93882,
 42303,
 32010,
 53997,
 63033,
 76475,
 98185,
 84779,
 82146,
 54495,
 3903,
 79854,
 25449,
 85496,
 95017,
 33759,
 43652,
 35873,
 97769,
 891,
 85161,
 25327,
 25624,
 68416,
 44090,
 71595,
 68336,
 38497,
 10016,
 36751,
 58421,
 45498,
 50774,
 79997,
 45313,
 55715,
 40901,
 1577,
 3909,
 18480,
 41405,
 85552,
 412,
 59399,
 87849,
 26458,
 13354,
 92673,
 45759,
 55930,
 62184,
 70512,
 51451,
 46046,
 1754,
 2915,
 81591,
 78104,
 81179,
 9047,
 85292,
 95819,
 74237,
 264,
 49159,
 81845,
 4644,
 41538,
 40863,
 60759,
 17760,
 2776,
 42802,
 26353,
 25420,
 98200,
 69027,
 87030,
 27669,
 82432,
 20331,
 75022,
 14012,
 10418,
 24271,
 86662,
 22461,
 78054,
 81715,
 65757,
 4261,
 15420,
 79189,
 1839,
 27841,
 51631,
 64301,
 88245,
 1008,
 18760,
 64202,
 52154,
 70354,
 68680,
 59017,
 80167,
 14910,
 5921,
 45786,
 60612,
 56374,
 883,
 1066,
 6447,
 38125,
 77682,
 70324,
 17263,
 5177,
 95078,
 27045,
 76511,
 92255,
 47913,
 67428,
 92418,
 72433,
 31373,
 25995,
 6001,
 2754,
 75762,
 54547,
 3535,
 77950,
 58413,
 48611,
 90284,
 50416,
 58064,
 70624,
 97063,
 33132,
 48858,
 25421,
 78297,
 4723,
 55124,
 70986,
 33749,
 46146,
 64597,
 82440,
 59925,
 89272,
 46971,
 51834,
 22408,
 464,
 81324,
 9302,
 41319,
 25703,
 47845,
 96684,
 50461,
 42087,
 57168,
 63891,
 66709,
 56786,
 51224,
 73190,
 21973,
 8711,
 65678,
 12529,
 46551,
 82922,
 36566,
 41747,
 70017,
 73031,
 77696,
 23515,
 7223,
 15920,
 28191,
 2329,
 37873,
 57241,
 45846,
 65910,
 60378,
 22204,
 31549,
 649,
 91783,
 20006,
 81281,
 83608,
 10739,
 24137,
 68627,
 1336,
 34657,
 15986,
 51934,
 86028,
 70517,
 10311,
 56887,
 28984,
 9260,
 94910,
 29656,
 18680,
 87285,
 65731,
 79458,
 97928,
 45965,
 40934,
 5832,
 2556,
 60969,
 29998,
 87967,
 38890,
 62101,
 36200,
 96088,
 67473,
 9771,
 90193,
 72829,
 74213,
 82161,
 29910,
 55380,
 86111,
 46250,
 65650,
 756,
 80849,
 30575,
 32180,
 13681,
 57606,
 19526,
 77037,
 27160,
 6352,
 57090,
 27546,
 57024,
 73614,
 92543,
 93445,
 61923,
 90054,
 95372,
 84575,
 71085,
 43529,
 21177,
 59710,
 694,
 57654,
 32785,
 78718,
 6185,
 1594,
 28756,
 54857,
 55245,
 42612,
 62094,
 5968,
 90069,
 8917,
 32386,
 90776,
 44667,
 67682,
 81981,
 11325,
 72305,
 92951,
 91652,
 29444,
 16664,
 80782,
 21027,
 67058,
 44030,
 17404,
 22308,
 82493,
 41829,
 19442,
 71298,
 38186,
 36179,
 55381,
 200,
 66987,
 84577,
 36829,
 5230,
 26375,
 85642,
 41843,
 63368,
 13699,
 80184,
 61417,
 70363,
 52479,
 58535,
 66632,
 46807,
 36201,
 91220,
 13118,
 33,
 42399,
 58366,
 19312,
 1920,
 58874,
 5224,
 6543,
 5104,
 67582,
 14501,
 90777,
 30803,
 80898,
 64575,
 27760,
 78903,
 68829,
 64775,
 82620,
 1435,
 55281,
 35531,
 76389,
 71844,
 72546,
 97282,
 94951,
 87920,
 79470,
 63295,
 41834,
 4595,
 62277,
 3885,
 85246,
 82057,
 52139,
 53226,
 56319,
 43270,
 29258,
 90347,
 40099,
 45549,
 38307,
 26974,
 67636,
 93918,
 61750,
 45042,
 65785,
 11441,
 57977,
 28368,
 31409,
 60515,
 92637,
 18293,
 11023,
 68699,
 23377,
 16971,
 11883,
 20134,
 43589,
 62279,
 68298,
 44859,
 60862,
 23451,
 43345,
 80372,
 55780,
 64862,
 80890,
 12598,
 38405,
 49491,
 81012,
 51121,
 5678,
 17097,
 75793,
 39280,
 39552,
 57497,
 49474,
 22705,
 87559,
 50535,
 63742,
 91713,
 25209,
 67061,
 38358,
 16614,
 62242,
 27821,
 87408,
 60781,
 74784,
 53176,
 17407,
 35575,
 88533,
 39537,
 61601,
 20901,
 77628,
 78966,
 55876,
 59831,
 98069,
 18720,
 29095,
 58639,
 18728,
 79290,
 76281,
 72428,
 31820,
 94599,
 7623,
 22939,
 14977,
 40985,
 46910,
 47605,
 97093,
 31100,
 73353,
 42776,
 72063,
 27672,
 38265,
 80380,
 6317,
 58353,
 73609,
 55875,
 15027,
 32324,
 12888,
 96524,
 46036,
 92525,
 18706,
 91777,
 27410,
 55932,
 669,
 58652,
 59108,
 89110,
 84280,
 85480,
 63086,
 23165,
 85032,
 14782,
 12059,
 66177,
 55580,
 25651,
 84349,
 32575,
 93417,
 54001,
 50435,
 77574,
 19074,
 32558,
 42426,
 20433,
 50670,
 13823,
 37619,
 85524,
 63803,
 8316,
 45754,
 15415,
 3305,
 65830,
 6367,
 7543,
 20907,
 79068,
 90508,
 31075,
 8367,
 72750,
 37495,
 11933,
 38703,
 28751,
 9132,
 2686,
 1534,
 84703,
 77814,
 39813,
 76983,
 47305,
 32584,
 89573,
 22901,
 85902,
 27209,
 18688,
 25013,
 87303,
 51718,
 20648,
 58321,
 20125,
 97495,
 50004,
 20446,
 88318,
 78896,
 78489,
 48963,
 25040,
 58165,
 42394,
 45582,
 83940,
 60185,
 32373,
 17906,
 48642,
 61223,
 77685,
 72152,
 90300,
 86560,
 27849,
 64787,
 94258,
 67203,
 2503,
 16139,
 17136,
 64615,
 76442,
 44058,
 38339,
 72311,
 64117,
 76532,
 85437,
 91224,
 66807,
 22454,
 12206,
 11083,
 18281,
 90933,
 74077,
 72487,
 53501,
 34184,
 54906,
 48139,
 81361,
 69906,
 60917,
 97753,
 63771,
 25125,
 23176,
 96272,
 91194,
 84671,
 18552,
 91058,
 89725,
 95121,
 18040,
 97052,
 88769,
 7134,
 66320,
 5997,
 98159,
 76378,
 78082,
 35034,
 57459,
 30451,
 47985,
 95059,
 12381,
 30324,
 81696,
 53214,
 48156,
 48655,
 51160,
 58203,
 51182,
 3531,
 44349,
 59379,
 16481,
 32028,
 42306,
 35877,
 5739,
 82532,
 79141,
 47497,
 83973,
 31113,
 97697,
 81479,
 65875,
 48108,
 15373,
 18441,
 65925,
 17765,
 59207,
 33840,
 96666,
 23001,
 39110,
 9597,
 22508,
 15888,
 15796,
 56567,
 91443,
 54894,
 36740,
 20476,
 72330,
 22322,
 40223,
 15119,
 2939,
 10094,
 42819,
 77810,
 31323,
 92492,
 81001,
 84972,
 6851,
 24323,
 25779,
 92594,
 56382,
 54774,
 73030,
 86527,
 4479,
 39757,
 36737,
 87228,
 65535,
 79230,
 5434,
 7987,
 32682,
 80538,
 86786,
 31468,
 28030,
 57317,
 89181,
 93540,
 95314,
 28702,
 81501,
 3544,
 41147,
 15165,
 56479,
 40896,
 27826,
 33325,
 63120,
 9804,
 32946,
 86625,
 7999,
 88733,
 50098,
 71282,
 22982,
 53729,
 3317,
 59711,
 2566,
 78133,
 23220,
 41722,
 50497,
 38048,
 21795,
 78488,
 36042,
 74451,
 29580,
 25994,
 55275,
 32753,
 47062,
 66822,
 24435,
 8539,
 59703,
 42459,
 46659,
 92067,
 58348,
 86167,
 16997,
 356,
 2617,
 41045,
 96615,
 19148,
 5183,
 30954,
 78541,
 59150,
 8372,
 24554,
 96560,
 88855,
 67281,
 15851,
 9533,
 81293,
 46315,
 11614,
 29342,
 78993,
 15148,
 50761,
 33381,
 62592,
 81331,
 36138,
 51939,
 51742,
 91176,
 46324,
 96024,
 16375,
 7827,
 27381,
 11744,
 18683,
 11057,
 24490,
 22751,
 52634,
 80432,
 26601,
 56469,
 27857,
 11628,
 97793,
 38798,
 25292,
 90694,
 66445,
 27572,
 11380,
 66419,
 22536,
 19147,
 78048,
 29867,
 639,
 18796,
 57737,
 81226,
 51023,
 49454,
 33878,
 14913,
 65326,
 63963,
 94438,
 89425,
 30423,
 97900,
 46367,
 26850,
 7021,
 73280,
 68076,
 83355,
 14208,
 87938,
 1072,
 72056,
 60938,
 85766,
 49795,
 3074,
 80694,
 69397,
 2582,
 24820,
 46482,
 12232,
 90174,
 62421,
 8962,
 60389,
 35028,
 18622,
 17472,
 59258,
 29475,
 16809,
 29721,
 53851,
 81813,
 22175,
 12561,
 54093,
 15672,
 78252,
 59626,
 92995,
 45598,
 62005,
 94547,
 89424,
 34291,
 13062,
 16650,
 96522,
 76690,
 7606,
 18364,
 71948,
 84594,
 93692,
 58246,
 89408,
 18133,
 48534,
 78312,
 77651,
 45266,
 13338,
 92139,
 52024,
 51279,
 12596,
 95034,
 5986,
 88159,
 17458,
 93505,
 46826,
 15371,
 49981,
 79353,
 57991,
 6734,
 2902,
 86136,
 33051,
 3253,
 33320,
 62719,
 12852,
 76796,
 10114,
 25270,
 17390,
 97029,
 38154,
 74403,
 49005,
 41286,
 85878,
 68506,
 3472]

In [44]:
recommendations2 = {}
unique_customerids2 = list(data['CustomerID'])
for i in unique_customerids2[1:6]:
    similarities = distances[i].sort_values(ascending=False)[1:6]
    top_5 = pd.DataFrame(similarities)
    top_5= top_5.index.tolist()
    df = data1.loc[top_5]
    df1 = df.groupby(['ProductName']).sum(['Quantity']).sort_values(ascending=False, by=['Quantity'])
    df2 = pd.DataFrame(data2[i])
    merged_newset = pd.merge(df1, df2, on='ProductName')
    merged_newsorted = merged_newset.sort_values([i,'Quantity'], ascending=[True,False])
    top5merged = merged_newsorted.head(5)
    recommendations2.update(top5merged)

In [46]:
final2 = pd.DataFrame(recommendations2)

In [47]:
final2

,SalesID,ProductID,Quantity,77352,40094,23548,78981,83106
Bagel - Plain,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
Baking Powder,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
Beef - Inside Round,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Bouq All Italian - Primerba,9328537.0,996.0,67.0,NaN,NaN,NaN,NaN,0.0
Bread - French Baquette,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
"Bread - Roll, Soft White Round",NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Bread - Rye,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Cake - Mini Cheesecake,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Cheese - Cottage Cheese,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
Cinnamon Buns Sticky,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
Cookies - Assorted,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
Fondant - Icing,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Juice - Orange,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
Juice - V8 Splash,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Lettuce - Frisee,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Olives - Stuffed,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
Onions - Vidalia,11275187.0,966.0,62.0,NaN,NaN,NaN,NaN,0.0
Pastry - Choclate Baked,8399094.0,890.0,48.0,NaN,NaN,NaN,NaN,0.0
Pork - Kidney,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Quiche Assorted,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
Scallops - Live In Shell,14045956.0,1278.0,50.0,NaN,NaN,NaN,NaN,0.0
"Soup - Canadian Pea, Dry Mix",7449926.0,762.0,46.0,NaN,NaN,NaN,NaN,0.0
Truffle Cups - Brown,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Veal - Sweetbread,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
Wine - Blue Nun Qualitatswein,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN